.page{
	padding: 24px;
	max-width: 400px;
	margin: 0 auto;

	display: flex;
	flex-direction:column;
	gap: 32px;
}

.header{
	display: flex;
	justify-content:space-between;
}

.button{
	transition: opacity 0.7s;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}
}

.panel{
	display: flex;
	flex-direction: column;
	gap: 24px;

	&__title{
		font-size:24px;
		color: #000000;
		font-weight: bold;
	}

	&__component{
		display: flex;
		justify-content: center;
		max-width: 400px;
	}

	&__category{
       display: flex;
       justify-content: center;
       align-items: center;
	   padding: 12px;
	   width: 100%;

	   &--1{
		color:#888;
		border-bottom: 2px solid #adabab;
	   }

	   &--2{
		color:#000000;
		border-bottom: 2px solid #000000;
		font-weight: bold;
	   }

	   &:hover{
		cursor: pointer;
		opacity: 0.7;
		transition: 0.7s;
	   }
	}
}

.main{
	display: flex;
	flex-direction:column;
	gap: 20px;
	width: 100%;
	

	&__img{
		display: flex;
		justify-content: center;
		max-width:340px;
	}
}

.info{
	display: flex;
	justify-content: center;

	&__title{
		font-size: 18px;
		font-weight: bold;
	}

	&__description{
		font-size:15px;
		color:  #363636;
	}
}

.footer{
	display: flex;
	justify-content: center;
}

.tg__button{
	display: flex;
	padding: 16px;
	align-items: center;
	justify-content: center;
	width: 100%;

	color: #fff;

	border-radius: 10px;
    background: #F46F17;
}